<% @messages.each do |message| %>
  <div>
    <strong><%= message.user.full_name %></strong>
    <span><%= message.message_time %></span>
    <div>
      <%= message.content %>
    </div>
  </div>
<% end %>
